

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
/* Colors
      Light Gray: #ebebeb
      Winthrop Blue: #3E7698
         Shadow: #3D5869
      Winthrop Blue: #618eaa
         Shadow: #2F5C77;

         anchors: #37a7be;
         gray: #999999;
*/

/* HTML Elements*/

body {
   background-color: #ebebeb;
   font-family: 'PT Sans', sans-serif;
   padding-top: 185px;
   -webkit-font-smoothing: antialiased;
}
hr {
   margin-top: 60px;
   padding-bottom: 40px;
}
a {
   color: #37a7be;
   transition: linear 0.3s;
      -webkit-transition: linear 0.2s;
}

/* Universal Styles */

#contain {
   background-color: #ffffff;
   padding-top: 15px;
   margin-bottom: 50px;
   border-top: 3px solid #3E7698;
}

.page-header {
   color: #3E7698;
   margin-top: 0;
}
.page-header a {
   color: #3E7698;
}
.page-header a:hover,
.page-header a:visited,
.page-header a:active {
   text-decoration: none;
} 
.col-custom {
   padding-left: 0;
   padding-right: 0;
}
.col-centered {
   float: none; 
   margin: 0 auto;
   text-align: center;
}
.btn-primary {
   background: #3E7698 none;
   box-shadow: none;
      -webkit-box-shadow: none;
   border-color: #3D5869;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
   color: #fff;
   background-color: #3D5869;
   border-color: #2e3744;
}

.meta {
   color: #545454;
   margin-bottom: 20px;
}

.pagination {
   float: right;
}

.pagination .list > li {
   background-color: #aaa;
   color: #ffffff;
   display: inline-block;
   padding: 8px 15px;
}

.pagination .list > li:hover {
   background-color: #3D5869;
   cursor: pointer;
}

.pagination .list > li.active {
   background-color: #3E7698;
}

.modal .modal-header {
   background-color: #3E7698;
   color: #ffffff;
   text-transform: uppercase;
}

.line-separator {
  background-image: url('../images/long-separator.png');
}
.separator {
  display: block;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: center;
}

/* Status Bar */

.status-bar {
   background-color: #3E7698;
   height: 5px;
   position: fixed;
      top: 0;
   width: 100%;
   z-index: 1040;
}
/* Header (Logo and Title)*/

.navbar-fixed-top {
   background-color: #ffffff;
   height: 160px;
   margin-bottom: 0;
}
.navbar-fixed-top .header-btn {
   float: right;
}
.navbar-fixed-top .header-btn .btn-default {
   color: #ffffff;
   font-weight: 600;
   letter-spacing: 0.4px;
   padding: 8px 25px;
   position: relative;
      top: 30px;
}
.navbar-fixed-top .header-btn .btn-default:first-child {
   margin-right: 20px;
}
.navbar-fixed-top .header-btn .find-doctor {
   background: #2d6283;
   border-color: #285470;
}

.navbar-fixed-top .header-btn .member-login {
   background: #3b759a;
   border-color: #356587;
}

.navbar-fixed-top .navbar-header {
   position: relative;
      top: 7px;
}

.navbar-fixed-top .navbar-header .navbar-brand .logo {
   border-right: solid 1px #DADADA;
   padding-right: 15px;
   width: 150px;
}

.navbar-fixed-top .navbar-header .navbar-brand img {
   display: inline-block;
}

.navbar-fixed-top .navbar-header .navbar-brand .title {
   color: #3E7698;
   font-size: 20px;
   padding-left: 20px;
}

.navbar-fixed-top .navbar-header .navbar-brand .title:hover {
   color: #3E7698;
}

/* Navigation */

.navbar-fixed-top .navbar-nav {
   float: left;
   position: relative;
      top: 55px;
}

.navbar-fixed-top .navbar-nav li {
   padding-left: 5px;
}

.navbar-fixed-top .navbar-nav li > a {
   color: #3E7698;
   letter-spacing: 0.5px;
   padding: 12.5px 15px;
   text-transform: uppercase;
}

.navbar-fixed-top .navbar-nav li > a:hover,
.navbar-fixed-top .navbar-nav li > a:focus {
   background-color: #ebebeb;
   transition: linear 0.3s;
      -webkit-transition: linear 0.3s;
}

.navbar-fixed-top .navbar-nav li > a.active {
   background-color: #F1F0F0;
}

.border {
   border-bottom: solid 1px #3E7698;
}

/* Jumbotron */

.container .jumbotron {
   border-radius: 0;
   padding-left: 0;
   padding-right: 0;
}

.jumbotron {
   background: url('../images/winthrop-doctors.jpg');
   background-position: center;
   background-size: cover;
      -ms-behavior: url('../backgroundsize.min.htc'); 
   position: relative;
   height: 400px;
   margin-top: 15px;
    
}

.jumbotron h3 {
   text-align: left;
   text-transform: uppercase;
}

.jumbotron h3,
.jumbotron p {
   color: #ffffff;
   padding-left: 15px;
}

.jumbotron p {
   font-size: 16px;
} 

.jumbotron .jumbotron-container {
   background-color: rgba(62, 118, 152, 0.8);
   position: absolute;
      bottom: 0;
   width: 100%;
}

.jumbotron .btn-primary {
   border-color: transparent;
   font-size: 16px;
   padding: 12px 45px;
   text-transform: uppercase;
}

/* Well Letter */

.letter {
   background-color: #efefef;
   padding: 15px;
}

.letter h4 {
   color: #3E7698;
   display: inline-block;
   padding: 0 3px;
   text-transform: uppercase;
}

.letter p > a {
   text-decoration: underline;
}

.letter .profile-image {
   margin-top: 10px;
   margin-bottom: 20px;
}

.letter .profile-image img {
   width: 100%;
}

.letter .profile {
   border-left: solid 2px #3E7698;
   padding-left: 15px;
}

/* Custom home page panels */

.panel-custom {
   border-bottom: none;
   border-left: none;
   border-radius: 0;
   border-top: none;
   box-shadow: none;
      -webkit-box-shadow: none;
   margin-bottom: 0;
   padding-bottom: 30px;
}

#news {
   border-right: none;
}

.panel-custom .panel-heading,
#home .panel-default > .panel-heading {
   background: none;
   border-bottom: none;
   filter: none;
   padding-bottom: 0;
   padding-top: 50px;
   padding-right: 30px;
}

.panel-custom .panel-heading a {
   color: #999999;
}

.panel-custom .panel-heading a > span {
   font-size: 14px;
   float: right;
}

.panel-custom .panel-heading a:hover,
.panel-custom .panel-heading a:active {
   color: #37a7be;
   text-decoration: none;
}
.panel-custom .panel-body {
   padding: 15px 30px 15px 15px;
}
.panel-custom .panel-body .panel-row {
   border-bottom: solid 1px #ddd;
   color: #767676;
   margin: 15px 0;
}

.panel-custom .panel-body .panel-row a {
   color: #767676;
}

.panel-custom .panel-body .panel-row a:hover,
.panel-custom .panel-body .panel-row a:active {
   color: #37a7be;
   text-decoration: none;
}

.panel-custom .panel-body .panel-row:last-child {
   border-bottom: none;
}


/* Events Panel */

#events .event {
   padding: 10px 0 15px 0px;
}

#events .date {
   float: left;
   font-size: 24px;
   font-weight: 600;
   line-height: 30px;
   padding: 10px;
   text-align: center;
}

/* News Panel */
#news .news-image {
   height: 60px;
   float: left;
   margin: 10px 0;
   width: 90px;
}

/* Events Page */

.events .nav-tabs {
   border-bottom: none;
   float: right;
   position: absolute;
      top: -80px;
      right: 15px;
}

.events .nav-tabs > li {
   padding-left: 5px;
}

.events .nav-tabs > li > a {
   background-color: #eee;
   border-radius: 4px;
   font-weight: 600;
   padding: 10px 30px;
   text-decoration: none;
   text-transform: uppercase;
}

.events .nav-tabs > li.active > a, 
.events .nav-tabs > li.active > a:hover, 
.events .nav-tabs > li.active > a:focus {
   background-color: #3E7698;
   border-color: #3D5869;
   color: #ffffff;
}

.events .tab-content {
   padding-top: 15px;
}
.event-modal:hover,
.event-modal:active {
   text-decoration: none;
}

.events .well-calendar {
   background: #FFFDFD none;
   filter: none;
}

/* Event List */


.events #events-list {
   padding: 15px 30px 15px 15px;
}
.events #events-list .event {
   border-bottom: solid 1px #ddd;
   color: #767676;
   margin: 0;
   padding: 20px 0;
}

.events #events-list .event .event {
   padding: 15px 0; 
}
.events #events-list .event a {
   color: #767676;
}

.events #events-list .event a:hover,
.events #events-list .event a:active {
   color: #37a7be;
   text-decoration: none;
}
.events #events-list .event span.date {
   float: left;
   font-size: 24px;
   font-weight: 600;
   text-align: center;
   width: 15%;
}


.events #events-list .event span.title {
   font-size: 18px;
   margin-top: 10px;
   margin-bottom: 20px;
}
.events #events-list .event span.description {
   display: block;
   font-size: 12px;
   margin-top: 10px;
}

.events #events-list .sidebar {
   border-left: solid 1px #ddd;
}

.events #events-list .sidebar .past {
   padding: 15px 0 35px 0;
}
.events #events-list .sidebar .past:last-child {
   border-bottom: none;
}
.events #events-list .sidebar .past .date {
   font-size: 18px;
   width: 30%;
}
.events #events-list .sidebar .past .title {
   font-size: 14px;
   position: relative;
      top: 10px;
}

/* Event Page Modal */

.event-modal-lg .modal-header {
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.events .modal-body {
   color: #767676;
}

.event-modal-lg .modal-body .single-event {
   border-bottom: solid 1px #dddddd;
   padding-bottom: 15px;
   margin-bottom: 25px;
}

.event-modal-lg .modal-body .date {
   display: inline-block;
   float: left;
   font-size: 24px;
   font-weight: 600;
   text-align: center;
   width: 25%;
}

.event-modal-lg .modal-body .title {
   font-size: 18px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.event-modal-lg .modal-body .event {
   display: inline-block;
   width: 75%;
}

.event-modal-lg .modal-body .content {
   padding-bottom: 15px;
}
.event-modal-lg .modal-body .content p {
   padding-left: 15px;
}
/* News Page */

.news-page hr {
   margin-top: 35px;
   padding-bottom: 20px;
}

.news-page .news-image {
   float: right;
   height: auto;
   margin-left: 15px;
   width: 30%;
}

#sidebar {
   width: 250px;
}

#sidebar.affix {
   position: fixed;
      top: 150px;
}

#sidebar.affix-top {
   bottom: 0;
}

/* Single News Page */

.single-news .content {
   margin-bottom: 20px;
}
.single-news .content .news-image {
   float: right;
   margin-bottom: 15px;
   margin-left: 15px;
   width: 40%;
}
.single-news .content .content-image {
   float: right;
   margin: 0 0 10px 10px;
}

/* Footer */

footer {
   background-color: #3E7698;
   padding: 25px 0px 15px 0px;
}
footer a {
   color: #ffffff;
}
footer a:hover {
   color: #ffffff;
}
footer h3 {
   color: #ffffff;
}
footer hr {
   border-top: 1px solid #3F5C6D;
   margin-top: 0 !important;
   padding-bottom: 0 !important;
}
footer p {
   color: #ffffff;
}

/* Media Queries */


@media (max-width: 991px) {
   .panel-custom { 
      border-right: none;
   }
   .center {
      text-align: center;
   }
   .letter .profile {
      border-left: none;
      padding-top: 5px;
      text-align: center;
   }
   .letter .profile-image {
      text-align: center;
   }
   .letter .profile-image img {
      width: 250px;
   }
   #news .single-news {
      padding-left: 10px;
      top: 0;
   }
   .events #events-list .sidebar {
      border-left: none;
   }

}

@media (max-width: 767px) {
   body {
      padding-top: 190px;
   }
   .status-bar {
      height: 60px;
      z-index: 1;
   }
   .navbar-fixed-top {
      height: 125px;
      top: 40px;
   }
   .navbar-fixed-top .navbar-header {
      top: 0;
   }
   .navbar-fixed-top .navbar-header .navbar-brand .title {
      padding-left: 10px;
   }
   .navbar-fixed-top .navbar-header .navbar-brand .logo {
      width: 100px;
   }
   .navbar-fixed-top .navbar-nav {
      padding-right: 10px;
      top: -27px;
   }
   .navbar-fixed-top .navbar-nav li {
      display: inline-block;
   }
   .navbar-fixed-top .navbar-nav li > a {
      font-size: 12px;
   }
   .jumbotron {
      height: 325px;
   }
   .nav-tabs, #events-calendar, .border {
      display: none;
   }
   .navbar-fixed-top .navbar-header .navbar-brand,
   .navbar-fixed-top .navbar-nav {
      text-align: center;
      width: 100%;
   }
   .navbar-fixed-top .header-btn {
      float: none;
      text-align: center;
      width: 100%;
      position: relative;
         bottom: 120px;
   }
   .navbar-fixed-top .header-btn .btn-default {
      display: inline-block;
      width: 49%;
   }
   .navbar-fixed-top .header-btn .btn-default:first-child {
      margin-right: 0;
   }
}

@media (max-width: 630px) {
   .navbar-fixed-top .navbar-nav {
      float: none;
      padding: 0;
      margin: 0;
      top: -20px;
   }
   .events .panel-event .event {
      margin-left: 20%;
   }
   #events .date {
      font-size: 25px;
   }
}

@media (max-width: 588px) {
   body {
      padding-top: 220px;
   }
   .navbar-fixed-top {
      height: 160px;
   }
   .navbar-fixed-top .navbar-nav {
      top: -25px;
   }
}

@media (max-width: 480px) {
   .letter .profile-image img {
      width: 200px;
   }
   #events .description {
      margin-left: 21%;
   }
   #events .date {
      margin-right: 6%;
      margin-top: 10px;
      width: 15%;
   }
}

















