

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
/* Colors
      Light Gray: #ebebeb
      Dark Blue: #4b6d82
         Shadow: #3D5869
      Winthrop Blue: #618eaa
*/

/* HTML Elements*/

body {
   border-top: solid 5px #4b6d82;
   font-family: 'PT Sans', sans-serif;
   padding-top: 0;
}
hr {
   margin-top: 60px;
   padding-bottom: 10px;
}
a {
   color: #618eaa;
}
/* Universal Styles*/
.btn-primary {
   background: #4b6d82 none;
   box-shadow: none;
      -webkit-box-shadow: none;
   border-color: #3D5869;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
   color: #fff;
   background-color: #3D5869;
   border-color: #2e3744;
}
.custom-container {
   padding-left: 0;
   padding-right: 0;
}
.text-center {
   text-align: center;
   width: 100%;
}
/* Header */

.navbar-static-top {
   background-color: #ebebeb;
   height: 150px;
   margin-bottom: 0;
}

.navbar-static-top .navbar-header {
   text-align: center;
   width: 100%;
}

.navbar-static-top .navbar-brand {
   position: relative;
      top: -5px;
   width: 100%;
}

.navbar-static-top .navbar-brand .logo {
   margin: auto;
   width: 200px;
}

.navbar-static-top .btn-primary {
   border: none;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   float: right;
   padding: 6px 20px;
   position: relative;
      bottom: 50px;
      right: 57px;
}

/* Navigation */

.navbar-static-top .navbar-background {
   background: #618eaa;
   position: relative;
      top: 23px;
}

.navbar-static-top .navbar-nav {
   height: 45px;
   width: 100%;
}

.navbar-static-top .navbar-nav li {
   width: 25%;
}

.navbar-static-top .navbar-nav li > a {
   color: #ffffff;
   letter-spacing: 0.5px;
   padding: 12.5px 15px;
   text-transform: uppercase;
}

.navbar-static-top .navbar-nav li > a:hover,
.navbar-static-top .navbar-nav li > a:focus {
   background-color: #526378;
}

/* Jumbotron */

.container .jumbotron {
   border-radius: 0;
}
.jumbotron {
   background-color: #959595;
   text-align: center;
}

.jumbotron h3 {
   color: #ffffff;
   padding: 20px 0 90px 0;
   text-transform: uppercase;
}

.jumbotron .btn-primary {
   border-color: transparent;
   font-size: 16px;
   padding: 12px 45px;
   text-transform: uppercase;
}

/* Well Letter */

.letter {
   margin: 45px 0;
}

.letter h4 {
   border-bottom: 1px solid #4b6d82;
   color: #4b6d82;
   display: inline-block;
   padding: 0 3px;
   text-transform: uppercase;
}

.letter p > a {
   text-decoration: underline;
}

.letter .profile-image {
   margin-bottom: 20px;
   text-align: center;
}

.letter .profile {
   border-left: solid 1px #4b6d82;
   margin: 0 25px;
   padding-left: 15px;
}

/* Events Page */

.well-calendar {
   background: #FFFDFD none;
}

.pagination {
   float: right;
}

.list > li {
   background-color: #aaa;
   color: #ffffff;
   display: inline-block;
   padding: 8px 15px;
}

.list > li:hover {
   background-color: #3D5869;
   cursor: pointer;
}

.list > li.active {
   background-color: #4b6d82;
}

.modal .modal-header {
   background-color: #4b6d82;
   color: #ffffff;
   text-transform: uppercase;
}

/* News Page */

.panel .btn-default {
   float: right;
}

.lazy-loader {
   margin: 20px 0;
   text-align: center;
}
/* Footer */

footer {
   background-color: #4b6d82;
   padding: 25px 15px 15px 15px;
}
footer p {
   color: #ffffff;
}
















